/* these are my classes */
.center{
  text-align: center;
}
.wrapper{
  width:300px;
  height:auto;
  margin: auto;
}
/* above are classes */


/* main formating for backgrounds */
body{
  background-color: black;
}

main, footer, header {
 border-radius: 25px;
 background:#c2c1c2;
 padding: 20px;
 margin: 30px;
}

/* formating for lists and positioning */

ul{
  list-style-position: inside;
  color:#18030a;
}
ol{
  list-style-position: inside;
  color:#18030a;

}

/* text formating */

h1, h2, h3, h4 {
  color: #18030a;
  font-family: monospace,Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p{
font-family: Arial, Helvetica, sans-serif;
color:#4b2b35;
font-size: 16px;
}

a:link    { color: #414E42;  }
a:visited { color: black;   }
a:hover   { color: red; }
a:active  { color: #D52941;  }
